{% extends "main.html" %}
{% load static %}

{% block content %}
<h4>Welcome to learn python with us</h4>

<span><h3><a href="dennis">Go to dennis homepage</a></h3></span>
%%
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, necessitatibus minus! Numquam suscipit eum nulla, qui molestiae illo! Dolores natus nisi laboriosam voluptatem iste similique ducimus necessitatibus exercitationem molestias ipsam.
</p>
{% endblock content %}

